<div class="container">
    <div class="row">
        <div class="col-sm my-col">
          <Label>Liczba dziesiętnie:</Label>
          <input type="text" class="form-control userInput" placeholder="13">
        </div>
        <div class="col-sm my-col">
        <Label>Liczba binarnie:</Label>
        <input type="text" class="form-control userInput" placeholder="1101">
        </div>
        <div class="col-sm my-col">
          <button class="btn btn-success">+</button>
          <button class="btn btn-danger">-</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm my-col">
          <Label>Liczba dziesiętnie:</Label>
          <input type="text" class="form-control userInput" placeholder="13">
        </div>
        <div class="col-sm my-col">
        <Label>Liczba binarnie:</Label>
        <input type="text" class="form-control userInput" placeholder="1101">
        </div>
        <div class="col-sm my-col">
          <button class="btn btn-success">+</button>
          <button class="btn btn-danger">-</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm my-col">
          <Label>Wynik(10)</Label>
          <input type="text" class="form-control userInput" placeholder="13">
        </div>
        <div class="col-sm my-col">
        <Label>Wynik(2)</Label>
        <input type="text" class="form-control userInput" placeholder="1101">
        </div>
        <div class="col-sm my-col background-dark">
            <div><i class="fa fa-calculator fa-5x calc-icon" aria-hidden="true"></i></div>
        </div>
    </div>


</div>
