<div class="container">
    <div class="row">
        <div class="col-sm my-col">
          <Label>Liczba dziesiętnie:</Label>
          <input type="text" class="form-control userInput" placeholder="np. 13" [(ngModel)]="numberOneDec" (keyup) = "makeCalcDec()" (keydown) = "checkNumberDecimal($event)">
        </div>
        <div class="col-sm my-col">
        <Label>Liczba binarnie:</Label>
        <input type="text" class="form-control userInput" placeholder="np. 1101" [(ngModel)]="numberOneBin" (keyup) = "makeCalcBin()" (keydown)= "checkNumberBin($event)">
        </div>
        <div class="col-sm my-col">
          <button class="btn btn-success">+</button>
          <button class="btn btn-danger">-</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm my-col">
          <Label>Liczba dziesiętnie:</Label>
          <input type="text" class="form-control userInput" placeholder="np. 5" [(ngModel)]="numberTwoDec" (keyup) = "makeCalcDec()" (keydown) = "checkNumberDecimal($event)">
        </div>
        <div class="col-sm my-col">
        <Label>Liczba binarnie:</Label>
        <input type="text" class="form-control userInput" placeholder="np. 101" [(ngModel)]="numberTwoBin" (keyup) = "makeCalcBin()" (keydown)= "checkNumberBin($event)">
        </div>
        <div class="col-sm my-col">
          <button class="btn btn-success">+</button>
          <button class="btn btn-danger">-</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm my-col">
          <Label>Wynik(10)</Label>
          <input type="text" class="form-control userInput" placeholder="Wynik: 18" readonly [(ngModel)]="sumDec">
        </div>
        <div class="col-sm my-col">
        <Label>Wynik(2)</Label>
        <input type="text" class="form-control userInput" placeholder="Wynik: 10010" readonly [(ngModel)]="sumBin">
        </div>
        <div class="col-sm my-col background-dark">
            <div><i class="fa fa-calculator fa-5x calc-icon" aria-hidden="true"></i></div>
        </div>
    </div>


</div>
